<div >
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
    
                <div class="col-md-3 col-sm-3" id="drinksimg">drinks</div>
                <div class="col-md-3 col-sm-3"><a routerLink="/veg" routerLinkActive="active">veg</a></div>
                <div class="col-md-3 col-sm-3"><a routerLink="/nonveg" routerLinkActive="active">non-veg</a></div>
                <div class="col-md-3 col-sm-3" id="othersimg"><a routerLink="/cart" routerLinkActive="active">CART</a></div>
    
            </div>
        </div>
    </div>
    
    <div>
    
    </div>
    </div>
    <!-- <router-outlet></router-outlet> -->